@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #1e88e5;
    --light-color: #f4f4f6;
    --dark-color: #111;
}

html {
    scroll-behavior: smooth;
}

section {
    position: relative;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #fff;
    color: #333
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

img {
    width: 100px;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 13px 20px;
    background: #25B7D3;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
}

.btn:hover {
    opacity: 0.6;
}

.btn-primary {
    background: var(--primary-color);
    color: #fff;
}

.btn-dark {
    background: var(--dark-color);
    color: #fff;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-project {
    font-size: 14px;
    padding: 15px 20px;
    margin-right: 20px;
    color: #1e88e5;
    background-color: transparent;
    border: 1px solid #1e88e5;

}

.btn-project:hover {
    opacity: 100%;
    color: #fff;
    background-color: #1e88e5
}

.btn-project-noborder {
    font-size: 14px;
    padding: 15px 20px;
    margin-right: 20px;
    color: #1e88e5;
    background-color: transparent;

}

.btn-project-noborder:hover {
    opacity: 100%;
    color: #fff;
    background-color: #1e88e5

}

/* Navbar*/
.navbar {
    background: #fff;
    padding: 20px;
    
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navbar .main-menu ul {
    display: flex;
}

.navbar img {
    width: 100px;
}

.navbar ul li a {
    padding: 10px 5px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
}

.navbar ul li a:hover {
    color: var(--primary-color);
}

.navbar ul li:last-child a {
    margin-left: 10px;
}

.navbar .navbar-link {
    text-decoration: none;
    color: #333;
    font-size: 17px;
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
    margin-right: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}


/* Hero */
.hero {
    margin-bottom: 50px;
}

.hero .container {
    padding: 5px;
    text-align: center;
}

.hero img {
    width: 200px;
    margin-bottom: 30px;
}

.hero .hero-heading {
    font-size: 22px;
}

.hero .hero-text {
    font-size: 14px;
}

.hero .hero-buttons .btn{
    margin-top: 40px;
    width: 100%;
    padding: 15px;
    font-size: 16px;
}

/* About me*/
.aboutme {
    text-align: center;
}

.aboutme .aboutme-heading {
    padding-top: 50px;
    font-size: 28px;
    font-weight: normal;
    margin-bottom: 40px;
}

.aboutme .aboutme-text1{
    margin-bottom: 10px;
    text-align:left;
    padding: 0 10px;
}
.aboutme .aboutme-text2{
    margin-bottom: 50px;
    text-align:left;
    padding: 0 10px;
}

.bg-black {
    background: #000000e0;
    color: #fff;
}

/* Skills */
.skills .skills-heading {
    margin-bottom: 20px;
    font-weight: normal;
}

.skills .skills-container-img {
    align-items: center;
}

.skills .skills-container-img ul {
    list-style: none;
    padding: 0px;
    columns: 2;
    padding-bottom: 50px;
}


.skills .skills-container-img .skill-item {
    justify-content: left;
    align-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.skills .skill-img {
    width: 20%;

}

.skills .skill-text {
    font-size: 12px;
    color: #dadada;
    margin-bottom: 10px;
}


/*Projects*/
.projects {
    padding: 50px 40px 40px;
}

.projects .project-heading {
    text-align: center;
    font-size: 28px;
    font-weight: normal;
    margin-bottom: 50px;
}

.project-container {
    /* display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 100px;
    margin-bottom: 100px; */
}

.projects .project-img {
    width: 100%;
    margin-bottom: 10px;
}

.projects .project1-heading {
    font-size: 24px;
    font-weight: bold;
}

.project-desc {
    margin: 10px 0px 20px;
}

.projects .project-btn-container {
    text-align: center;
    margin-bottom: 50px;
}

/*Contact*/

.contact {
    display: flex;
    padding: 10px 0 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    
}

.contact form {
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr;
    background: #edf3f5;
    row-gap: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #424242
}

.contact .contact-img {
    width: 25%;
}

.contact .contact-title {
    margin-top:20px;

}

.contact .contact-heading {
    font-size: 28px;
}

.contact-subtitle {
    margin-bottom: 30px;
}

.contact .contact-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10.6px;
    flex: 1 0 0;
    width: 100%;
}

.contact .contact-input {
    display: flex;
    padding: 16px;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    border: 1.333px solid #b6b5b5;
}

.contact .submit-btn {
    width: 100%;
    padding: 20px;
    margin-bottom: 50px;
}

/* Footer */
.footer {
    justify-content: center;
    text-align: center;
    padding: 50px 0px 50px;
}

.github-icon {
    font-size: 30px;
    cursor: pointer;
    
}

.linkedin-icon {
    font-size: 30px;
    cursor: pointer;
}

.social-icons {
    margin-top: 30px;
    justify-content: center;
    display: flex;
    gap: 20px;
    align-items: center;
}

.github-link {
    color: #fff;
}

.linkedin-link {
    color: #fff;
}

.credits {
    color: #fff;
    font-size: 14px;
}

@media(min-width: 700px){

.hero .hero-text {
    line-height: 1.4;
    font-weight: normal;
    margin: 0px 100px;
}

.skills .skills-container-img ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    text-align: center;
    padding-bottom: 40px;
}

.skills .skill-img {
    width: 40%;

}

.contact form {
    padding: 50px;
}

.contact .contact-img {
    width: 80px;
}


}

@media(min-width: 1000px){

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

.navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
}

.hero {
    height: 100vh;
}

.hero .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 500px;
    text-align: left;
    align-items: center;
}

.hero .hero-profile-pic > img {
    width: 80%;
    height: 80%;
}

.hero .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}


.hero .hero-buttons .btn{
    margin-top: 40px;
    width: 25%;
    padding: 15px;
    font-size: 16px;
}

.hero .hero-heading{
    font-size: 40px;
    line-height: 1.2;
    margin: 100px 0 20px;
}

.hero .hero-text {
    font-size: 20px;
    line-height: 1.4;
    font-weight: normal;
    margin: 0px 0 10px;
}

.aboutme {
    padding: 10px 0 100px;
}

.aboutme .aboutme-heading {
    line-height: 1.4;
    margin: 0px 0px 20px;
}

.aboutme .aboutme-text1{
    margin-bottom: 0px;
    padding: 0 120px;
}
.aboutme .aboutme-text2{
    padding: 0 120px;
}

.skills .skill-img {
    width: 30%;

}

.contact .contact-title {
    display: flex;
    align-items: center;
    margin: auto; 
    gap: 20px;
}

.contact .contact-img {
    width: 60px;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 100px;
    margin-bottom: 100px;
}

a#scroll-btn {
    position: absolute;
    height: 50px;
    width: 25px;
    border: 2px solid #000000;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 12em;
    border-radius: 3em;
    cursor: pointer;
}

a#scroll-btn:before {
    position: absolute;
    content: "";
    margin: auto;
    left: 0;
    right: 0;
    top: 5px;
    height: 6px;
    width: 6px;
    background-color: #000000;
    border-radius: 50%;
    animation: move-down 2s infinite;
}
@keyframes move-down {
    80% {
        opacity: 0.5;
    }
    100% {
        transform: translateY(2.0em);
        opacity: 0;
    }
}

}

@media(min-width: 1400px){

.aboutme .aboutme-text1{
    margin-bottom: 0px;
    padding: 0 280px;
}
.aboutme .aboutme-text2{
    padding: 0 280px;
}
}
